.menu {
    top: 0;
    margin-top: 0%;
    display: flex;
    position: absolute;
    height: 8%;
    width: 100%;
    margin-bottom: 6%;
}

nav {
  width: 100%;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(232,246,241)
  }

  .title {
    float: left
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(46,83,83);
    text-align: center;
    padding: 12px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgba(47,133,90,255);
  }